html {
	height: 100%;
}
body {
	color: black;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
a {
	color: #009;
}
#wrap,
#about {
	padding: 5px;
	margin: 0;

	position: absolute;
	top: 50px;
	bottom: 25%;
	left: 0;
	right: 0;

	background: #FFD;
}
#about {
	display: none;
	z-index: 1;
	padding: 10px 40px;
	font-size: 16px;
	font-family: sans-serif;
	overflow: auto;
}
#about p {
	max-width: 520px;
}
#about ul {
	max-width: 480px;
}
#about li {
	margin-bottom: 1em;
}
#code, #output, pre, .lines {
	/* The default monospace font on OS X is ugly, so specify Menlo
	 * instead. On other systems the default monospace font will be used. */
	font-family: Menlo, monospace;
	font-size: 11pt;
}

#code {
	color: black;
	background: inherit;

	width: 100%;
	height: 100%;
	padding: 0; margin: 0;
	border: none;
	outline: none;
	resize: none;
	wrap: off;
	float: right;
}
#output {
	position: absolute;
	top: 75%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px;
}
#output .system, #output .loading {
	color: #999;
}
#output .stderr, #output .error {
	color: #900;
}
#output pre {
	margin: 0;
}
#banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	background-color: #E0EBF5;
}
#head {
	float: left;
	padding: 15px 10px;

	font-size: 20px;
	font-family: sans-serif;
}
#controls {
	float: left;
	padding: 10px 15px;
	min-width: 245px;
}
#controls > input {
	border-radius: 5px;
}
#aboutControls {
	float: right;
	padding: 10px 15px;
}
input[type=button],
#importsBox {
	height: 30px;
	border: 1px solid #375EAB;
	font-size: 16px;
	font-family: sans-serif;
	background: #375EAB;
	color: white;
	position: static;
	top: 1px;
	border-radius: 5px;
}
#importsBox {
	position: relative;
	display: inline;
	padding: 5px 0;
	margin-right: 5px;
}
#importsBox input {
	position: relative;
	top: -2px;
	left: 1px;
	height: 10px;
	width: 10px;
}
#shareURL {
	width: 280px;
	font-size: 16px;
	border: 1px solid #ccc;
	background: #eee;
	color: black;
	height: 23px;
}
#embedLabel {
	font-family: sans-serif;
}
.lines {
	float: left;
	overflow: hidden;
	text-align: right;
}
.lines div {
	padding-right: 5px;
	color: lightgray;
}
.lineerror {
	color: red;
	background: #FDD;
}
.exit {
	color: lightgray;
}

.embedded #banner {
	display: none;
}
.embedded #wrap {
	top: 0;
}
#embedRun {
	display: none;
}
.embedded #embedRun {
	display: block;
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
}
