html {
	height: 100%;
}
body {
	color: black;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
a {
	color: #009;
}
#wrap {
	padding: 5px;
	margin: 0;

	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 50%;

	background: #FFD;
}
#code, pre, .lines {
	font-family: Menlo, Courier New, monospace;
	font-size: 11pt;
}
#code {
	color: black;
	background: inherit;

	width: 100%;
	height: 100%;
	padding: 0; margin: 0;
	border: none;
	outline: none;
	resize: none;
	wrap: off;
	float: right;
}
#output {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 50%;
	right: 0;
	padding: 8px;
	font-size: 14pt;
}
#banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
}
#head {
	float: left;
	padding: 8px;

	font-size: 30px;
	font-family: Georgia, serif;
}
.lines {
	float: left;
	overflow: hidden;
	text-align: right;
}
.lines div {
	padding-right: 5px;
	color: lightgray;
}
